<div>
  <div class="menu-categorias">
      <div class="dropdown">
        <button class="dropbtn" onclick="toggleDropdown()">
          Categorías <span class="arrow">&#9662;</span>
      </button>
        <div class="dropdown-content">
          <a href="#">Coche</a>
          <a href="#">Moto</a>
          <a href="#">Motor</a>
          <a href="#">Hogar</a>
        </div>
      </div>
    
      <div class="categorias-laterales">
        <a href="#">Coche</a>
        <a href="#">Moto</a>
        <a href="#">Motor</a>
        <a href="#">Accesorios</a>
        <a href="#">Moda</a>
        <a href="#">Inmobiliaria</a>
        <a href="#">Gym</a>
      </div>
    </div>
    <div class="titulo-novedades">
      <h1>NOVEDADES</h1>
  </div>
  <div class="contenedor-scroll">
    <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
    
    <div #contenedor class="contenedor-productos">
      <div *ngFor="let producto of productos" class="producto">
        {{ producto }}
      </div>
    </div>
  
    <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
  </div>
  <div class="contenedor-productos-estaticos">
    <div *ngFor="let producto of productos.slice(5)" class="producto">
      {{ producto }}
    </div>
  </div>
  

    
</div>
