<div>
    <div class="menu-categorias">
        <div class="dropdown">
          <button class="dropbtn" onclick="toggleDropdown()">
            Categorías <span class="arrow">&#9662;</span>
        </button>
          <div class="dropdown-content">
            <a href="#">Coche</a>
            <a href="#">Moto</a>
            <a href="#">Motor</a>
            <a href="#">Hogar</a>
          </div>
          <a>gg</a>
        </div>
      
        <div class="categorias-laterales">
          <a href="#">Coche</a>
          <a href="#">Moto</a>
          <a href="#">Motor</a>
          <a href="#">Accesorios</a>
          <a href="#">Moda</a>
          <a href="#">Inmobiliaria</a>
          <a href="#">Gym</a>
        </div>
      </div>
      
      
</div>