<header class="app-header">
    <div class="logo-container">
        <a href="/home">
            <img src="assets/logo2.png" alt="Logo" class="logo">
        </a>
    </div>

    <div class="header-content">
        

        <nav class="nav-links">
            <a href="/my-products" class="nav-item">Mis productos</a>
            <a href="/add-product" class="nav-item">Vender</a>
            <a href="/chat" class="nav-item">Chat</a>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." class="search-bar">
        </div>
    </div>

    <div class="profile-container" (click)="toggleDropdown()">
        <img src="assets/logo.png" alt="Perfil" class="profile-pic" />
        <div class="dropdown-menu" [class.show]="isDropdownOpen">
          <a href="/perfil">Perfil</a>
          <a href="/login">Cerrar sesión</a>
        </div>
      </div>      
      
</header>
