.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background: linear-gradient(to bottom, #2a2b74, #2F3061);
    color: #F7FFF7;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}