<div class="container">
  <div class="register-box">
    <img src="assets/logo2.png" alt="Logo" class="logo">
    <h2>REGISTRARSE</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Nombre de usuario" formControlName="name">
      <input type="email" placeholder="Correo electrónico" formControlName="email">
      <input type="password" placeholder="Contraseña" formControlName="password">
      <input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword">
      <input type="text" placeholder="DNI" formControlName="dni">
      <input type="date" placeholder="Fecha de ancimiento" formControlName="birthDate">
      <input type="text" placeholder="Ciudad" formControlName="city">

      <div class="options">
        <label>
          <input type="checkbox" formControlName="acceptTerms" class="recordar"> Acepto los términos y condiciones
        </label>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">REGISTRARSE</button>
      <br><br>
      <div>
        <a class="login" href="/login">¿Ya tienes cuenta? Inicia sesión aquí</a>
      </div>
    </form>
  </div>
</div>
