<div class="perfil-contenedor">
    <div class="perfil-usuario">
      <a href="/perfil">
      <img src="assets/said_pf.jpeg" alt="Foto del usuario" class="foto-usuario-grande" />
      </a>
      <div class="info-usuario">
        <h2>{{ nombreUsuario }}</h2>
        <p>{{ productos.length }} productos publicados</p>
      </div>
      <button (click)="navigate()" class="btn-anadir-producto" aria-label="Añadir producto">+</button>
    </div>
    <div class="subtitulo">
     <h3>Mis productos</h3>
    </div>
    <div class="seccion-productos-usuario">
      <div *ngFor="let producto of productos" class="producto-usuario" (click)="verDetalle(producto)">
        <div class="producto-info">
          <h4>{{ producto }}</h4>
        </div>
      </div>
    </div>
  </div>
  